.home-container{
    background: white;
    padding:  0;
    position: relative;
 }
 
.home-container .home-images{
     position: relative;
 }

 .home-headpara{
    text-align: center;
 }

 .home-headpara h2{
    font-weight: 900;
    font-size: 30px;
    color: #3D506D;
    margin-bottom: 20px;
 }
 
 .home-headpara span{
    font-style: italic;
    padding-top: 25px;

 }
 .home-container .controls {
     display: flex;
     justify-content: end;
     margin-top: 20px;
     gap: 20px;
     width: 80%;
     margin: 0;
     padding-bottom: 0;
   }
 
   .home-container .controls h2{
     color: #F7C51E;
     font-weight: bold;
   }
   .c-btns{
     display: flex;
     gap: 5px
   }
   @media (max-width: 375px) {
     .controls {
       display: none;
     }
   }
   .home-container .controls button {
     background-color: transparent;
     box-shadow: none;
     color: black;
     cursor:pointer;
     position: absolute;
     z-index: 999;
     border: 1px solid grey;
     border-radius: none;
     font-size: 30px;
     border: none;
   }

   .btn-h{
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
   }

   .btn-l{
    left: 5px;
    top: 50%;
   }
   .btn-r{
    right: 25px;
    top:50%;
   }
  
   .home-container .home-images{
    height: 560px;
     transition: 0.3s;
     overflow: hidden;
     border-radius: 5px;
   }

   .home-container .home-images img{
     width: 100%;
     height: auto;
     position: absolute;
     transform: 0.3s;
     object-fit:fill;
     z-index: -1;
     border-radius: none;
   }
 
   .home-slider{
     width: 100%;
     margin: 0 auto;
   }
 
   .slick-next,.slick-prev{
     display: none !important;
   }

   /* home desc */

   .home-desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
   }
   

   .home-desc h1{
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 900;
    color: white;
    margin: 0;
   }

   .home-desc p{
    color: white;
    width: 30%;
    text-align: left;
   }

   .yellow{
    color: #F7C51E;
   }
   

   @media screen and (max-width: 425px) {
    .home-desc{
      top: 15%;
    }

    .home-desc h1{
      font-size: 1.2rem;
    }

    .home-desc2 h1{
      font-size: 1.2rem;
    }

    .home-desc2{
      top: 10%;
      right: 0%;
    }

    .btn-l{
      left: 5px;
      top: 50%;
      display: none;
     }
     .btn-r{
      right: 25px;
      top:50%;
      display: none;
     }

     .home-container .home-images{
      height: 200px;
     }
   }